html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;

  }

  body {
    color: white;
    background: black;
  }
}

.custom-shape-divider-top-1696944470 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1696944470 svg {
  position: relative;
  display: block;
  width: calc(276% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1696944470 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1696944517 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696944517 svg {
  position: relative;
  display: block;
  width: calc(276% + 1.3px);
  height: 106px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1696944517 .shape-fill {
  fill: #FFFFFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;